<div class="wrapper-page animated fadeInDown">
  <div class="panel panel-color panel-primary">
          <div class="panel-heading"> 
             <h3 class="text-center m-t-10"> Sign In to <strong>Cronos</strong> </h3>
          </div> 

          <form class="form-horizontal m-t-40" action="#">
                             
              <div class="form-group ">
                  <div class="col-xs-12">
                      <input class="form-control" type="text" placeholder="Please enter Email">
                  </div>
              </div>
              <div class="form-group ">
                  <div class="col-xs-12">
                      <input class="form-control" type="password" placeholder="Please enter Password">
                  </div>
              </div>

              
              
              <div class="form-group text-center">
                  <div class="col-xs-12">
                      <button class="btn btn-purple w-md right_margin" type="submit">Log In</button>
        <button class="btn btn-danger w-md" type="submit">Reset</button>
                  </div>
              </div>
              <div class="form-group m-t-30 text-left">
                  <div class="col-sm-12">
                      <a href="forgot-password.html"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                  </div>
                  
              </div>
          </form>

      </div>
  </div>
