<aside class="left-panel">

  <!-- brand -->
  <div class="logo">
      <a href="#" class="logo-expanded">
          <!--<img src="img/single-logo.png" alt="logo">-->
          <span class="nav-label">Cr<span style="color:#f6501a;">o</span>n<span style="color:#287fb8;">o</span>s</span>
           <p class="payroll"><span class="payroll-c">Payroll</span> <span class="services-c">Services</span> </p>
      </a>
  </div>
  <!-- / brand -->

  <!-- Navbar Start -->
  <nav class="navigation">
      <ul class="list-unstyled">
          <li class="active"><a routerLink="dashboard"><i class="ion-home"></i> <span class="nav-label">Dashboard</span></a></li>
         <li class="has-submenu "><a routerLink="clients"><i class="fa fa-users"></i> <span class="nav-label">Clients</span></a>
                             
            <ul class="list-unstyled">
                  <li><a href="client-set-up-details.html">Client Set Up </a></li>
                  <li><a href="client-list.html">Client List</a></li>
              </ul>
          </li>
          
      </ul>
  </nav>
      
</aside>