<div id="activeClientList" class="tab-pane fade in active">
  <div class="row">
   <div class="col-md-6">
      <h4>Active Client List</h4>
   </div>
   <div class="col-md-6">
      <button class="btn btn-purple w-md pull-right" type="button"  data-toggle="modal" data-target="#newclientModal">Add New Client</button>  
   </div>   
</div>
<div class="row box">
   <div class="col-md-12 col-sm-12 col-xs-12 table-scroll">
       <table class="table table-striped">
           <thead>
               <tr>
                   <th>Status</th>
                   <th>Client</th>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>Email</th>
                   <th>Tel</th>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>Email</th>
                   <th>Tel</th>
                   <th>Action</th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td>Active </td>
                   <td>xyz abcd</td>
                   <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                    <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                   <td> <button type="button" class="btn btn-icon btn-warning m-b-5" onclick='' title="Modify" data-toggle="modal" data-target="#newclientModal"> <i class="fa fa-edit"></i> </button></td>
               </tr>
               <tr>
                   <td>Active </td>
                   <td>xyz abcd</td>
                   <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                    <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                   <td> <button type="button" class="btn btn-icon btn-warning m-b-5" onclick='' title="Modify" data-toggle="modal" data-target="#newclientModal"> <i class="fa fa-edit"></i> </button></td>
               </tr>
               <tr>
                   <td>Active </td>
                   <td>xyz abcd</td>
                   <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                    <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                   <td> <button type="button" class="btn btn-icon btn-warning m-b-5" onclick='' title="Modify" data-toggle="modal" data-target="#newclientModal"> <i class="fa fa-edit"></i> </button></td>
               </tr>
               <tr>
                   <td>Active </td>
                   <td>xyz abcd</td>
                   <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                    <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                   <td> <button type="button" class="btn btn-icon btn-warning m-b-5" onclick='' title="Modify" data-toggle="modal" data-target="#newclientModal"> <i class="fa fa-edit"></i> </button></td>
               </tr>
               <tr>
                   <td>Active </td>
                   <td>xyz abcd</td>
                   <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                    <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                   <td> <button type="button" class="btn btn-icon btn-warning m-b-5" onclick='' title="Modify" data-toggle="modal" data-target="#newclientModal"> <i class="fa fa-edit"></i> </button></td>
               </tr>
               <tr>
                   <td>Active </td>
                   <td>xyz abcd</td>
                   <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                    <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                   <td> <button type="button" class="btn btn-icon btn-warning m-b-5" onclick='' title="Modify" data-toggle="modal" data-target="#newclientModal"> <i class="fa fa-edit"></i> </button></td>
               </tr>
               <tr>
                   <td>Active </td>
                   <td>xyz abcd</td>
                   <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                    <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                   <td> <button type="button" class="btn btn-icon btn-warning m-b-5" onclick='' title="Modify" data-toggle="modal" data-target="#newclientModal"> <i class="fa fa-edit"></i> </button></td>
               </tr>
               <tr>
                   <td>Active </td>
                   <td>xyz abcd</td>
                   <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                    <td>xxxx</td>
                   <td>yyyy</td>
                   <td>Otto@gmail.com</td>
                   <td>8888888888</td>
                   <td> <button type="button" class="btn btn-icon btn-warning m-b-5"  title="Modify" data-toggle="modal" data-target="#newclientModal"> <i class="fa fa-edit"></i> </button></td>
               </tr>
           </tbody>
       </table>
   </div>
</div>
</div>

<div id="setUpClientList" class="tab-pane fade ">
  <div class="row">
    <div class="col-md-6">
       <h4>Set Up Client List</h4>
    </div>
      
</div>
 <div class="row box">
    <div class="col-md-12 col-sm-12 col-xs-12 table-scroll">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Client</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Tel</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Tel</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Active </td>
                    <td>xyz abcd</td>
                    <td>xxxx</td>
                    <td>yyyy</td>
                    <td>Otto@gmail.com</td>
                    <td>8888888888</td>
                     <td>xxxx</td>
                    <td>yyyy</td>
                    <td>Otto@gmail.com</td>
                    <td>8888888888</td>
                    <td> <button type="button"class="btn btn-icon btn-warning m-b-5" onclick='' title="Modify" data-toggle="modal" data-target="#newclientModal"> <i class="fa fa-edit"></i> </button></td>
                </tr>
                <tr>
                    <td>Active </td>
                    <td>xyz abcd</td>
                    <td>xxxx</td>
                    <td>yyyy</td>
                    <td>Otto@gmail.com</td>
                    <td>8888888888</td>
                     <td>xxxx</td>
                    <td>yyyy</td>
                    <td>Otto@gmail.com</td>
                    <td>8888888888</td>
                    <td> <button type="button"class="btn btn-icon btn-warning m-b-5" onclick='' title="Modify" data-toggle="modal" data-target="#newclientModal"> <i class="fa fa-edit"></i> </button></td>
                </tr>
               <tr>
                    <td>Active </td>
                    <td>xyz abcd</td>
                    <td>xxxx</td>
                    <td>yyyy</td>
                    <td>Otto@gmail.com</td>
                    <td>8888888888</td>
                     <td>xxxx</td>
                    <td>yyyy</td>
                    <td>Otto@gmail.com</td>
                    <td>8888888888</td>
                    <td> <button type="button"class="btn btn-icon btn-warning m-b-5" onclick='' title="Modify" data-toggle="modal" data-target="#newclientModal"> <i class="fa fa-edit"></i> </button></td>
                </tr>
                
                <tr>
                    <td>Active </td>
                    <td>xyz abcd</td>
                    <td>xxxx</td>
                    <td>yyyy</td>
                    <td>Otto@gmail.com</td>
                    <td>8888888888</td>
                     <td>xxxx</td>
                    <td>yyyy</td>
                    <td>Otto@gmail.com</td>
                    <td>8888888888</td>
                    <td> <button type="button"class="btn btn-icon btn-warning m-b-5" onclick='' title="Modify" data-toggle="modal" data-target="#newclientModal"> <i class="fa fa-edit"></i> </button></td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>
</div>